<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Home page</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <form id="messageForm" th:action="@{/pokemonInfo}" method="get">
                <fieldset>
                    <legend>Name: </legend>
                    <input placeholder="type a name" type="text" name="nameOrId">
                    <input type="submit" value="Get Pokemon Info" />
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>