<!DOCTYPE html>
<html layout:decorate="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
</head>
<body>
<div class="container body-content" layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <form id="messageForm" method="get" th:action="@{/pokemonInfo}">
                    <input class="d-block w-100 mb-2" name="nameOrId" placeholder="Type a Pokemon's name or ID" type="text">
                    <input class="btn btn-primary btn-block" type="submit" value="Get Pokemon Info"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>