<!DOCTYPE html>
<html layout:decorate="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

<head>
    <title></title>
</head>
<body>
<div class="container body-content" layout:fragment="content">
    <h2>Pokemon Information</h2>
    <div>
        <img th:src="${pokemon.pictureUrl}"/>
        <h2 th:text="${pokemon.name}"></h2>
        <h4>Abilities</h4>
        <ul>
            <li th:each="ability : ${pokemon.abilities}" th:text="${ability}"></li>
        </ul>
        <h4>Evolutions</h4>
        <ul>
<!--            <li th:each="evolution : ${pokemon.evolutions}" th:text="${evolution}"></li>-->
<!--            <li th:each="pokemonId : ${pokemon.pokemonIds}" th:text="${pokemonId}"></li>-->
<!--            <li th:each="evolution2 : ${pokemon.evolutions2}">-->
<!--                <p th:text="${evolution2[0]}"></p>-->
<!--&lt;!&ndash;                <img th:src=`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${evolution2[1]}.png`/>&ndash;&gt;-->
<!--                <img th:src="${evolution2[1]}"/>-->
<!--            </li>-->
            <li th:each="evolution : ${pokemon.evolutions}">
                <p th:text="${evolution.name}"></p>
                <!--                <img th:src=`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${evolution2[1]}.png`/>-->
                <img th:src="${evolution.pictureUrl}"/>
            </li>



        </ul>
    </div>
</div>
</body>
</html>